/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.brand_name {
  font-weight: 900;
  letter-spacing: 7px;
}
 /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 991px) {
  .fs-vw-5 {
    font-size: 5vw;
  }  

  .fs-vw-3 {
    font-size: 2vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 990px) {
  .fs-vw-5 {
    font-size: 8vw;
  }
  .fs-vw-3 {
    font-size: 5vw;
  }
}