// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_main_container {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

#search_button {
  min-width: 50px;
}

.book_image {
  border-radius: 2%;
  min-height: 40vh;
}
 /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
 @media screen and (min-width: 1001px) {
  .book_image {
    max-height: 500px;
    width: auto;
  }  
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) {
  .book_image {
    max-height: 50vh;
    width: auto;
  }
}